---
// IMPORTING CUSTOM STYLES
import "../../styles/custom.css"

// IMPORTING LAYOUTS
import Layout from "../../layouts/Layout.astro"
import Container from "../../layouts/Container.astro"

// IMPORTING COMPONENTS
import HeaderBanner from "../../components/common/HeaderBanner.astro"
import Insight from "../../components/insights/slug/Insight.astro"
import MoreInsights from "../../components/insights/slug/MoreInsights.astro"
import Masthead from "../../components/insights/slug/Masthead.astro"
import Description from "../../components/insights/slug/Description.astro"
import Image from "../../components/insights/slug/Image.astro"
import Header from "../../components/header/Header"

import { endpointFetch } from "../../functions/endpoint"

const runtime = Astro.locals.runtime;
const endpoint = endpointFetch( runtime.env.ENVIRONMENT )

const { slug } = Astro.params

const data = await fetch( endpoint + "/blog/" + slug )
const data_json = await data.json()
const insight = data_json.data
---
<Layout>
	<section class="flex flex-col h-screen max-h-screen overflow-hidden">
		<HeaderBanner />
		<Header client:load />
		<Masthead data={ insight } />
	</section>
	<Container>
		<Description />
		<Image />
        <Insight data={ insight } />
		<MoreInsights />
	</Container>
</Layout>
