<section class="flex justify-center py-20">
    <div class="max-w-3xl">
        <p class="text-center font-studio_feixen_sans text-[40px] font-bold uppercase leading-none">We focus on what you really need to move the needle – without the empty buzz. Do you think that sounds good?<br/><br/>WE DO.</p>
    </div>
</section>
