---
// IMPORTING ATOMS
import Button from "../../atoms/Button.astro"
---
<section>
    <section class="flex items-center justify-center pt-60 pb-4">
        <div class="w-[80%]">
            <p class="text-center font-studio_feixen_sans text-6xl font-bold uppercase">do you want to achieve something great together?<br/><br/>WE DO.</p>
        </div>
    </section>
    <section class="grid grid-cols-2 gap-20">
        <div class="bg-zinc-200 w-full aspect-square">
            <img
                src=""
                alt=""
                class="w-full aspect-square"
            />
        </div>
        <div class="flex flex-col justify-center space-y-8">
            <p class="text-body text-3xl">We are a community of great people with a passion for seeing what digital tools, empathy, and sharp thinking can do to the world.</p>
            <Button href="">Careers at Vincit</Button>
        </div>
    </section>
</section>