<section class="h-screen max-h-screen flex items-center justify-center">
    <div class="w-[50%]">
        <p class="text-center font-studio_feixen_sans text-6xl font-bold">DO YOU LOVE WHEN STRATEGY, DESIGN AND TECH SPEAK THE SAME LANGUAGE?<br/><br/>WE DO.</p>
    </div>
</section>