---
const title = [ "Discover and define the way forward", "Craft winning experiences and solutions", "Drive growth with commerce and engagement", "Create efficiency with platforms and processes", "Deliver value with data-driven operations" ]
---
<section class="py-32 animate-marquee whitespace-nowrap">
    {

        title.map( ( item ) => {

            return (
                <span class="text-xl text-white select-none bg-emerald-500 px-8 py-6 rounded-full">{ item }</span>

            )

        })

    }
</section>
