---
// IMPORTING ATOMS
import Button from "../../atoms/Button.astro"
---
<section class="h-screen max-h-screen flex justify-center items-center">
    <div class="grid grid-cols-3 ">
        <div>
            <h4 class="font-studio_feixen_sans text-xl font-semibold">Our purpose</h4>
        </div>
        <div class="col-span-2">
            <p class="font-studio_feixen_sans text-4xl">We believe that technology is a key component for solving the global challenges of our time. We’re here to create better Mondays for Vincitizens, our customers, and our planet.</p>
            <div class="pt-10">
                <Button>Read more</Button>
            </div>
        </div>
    </div>
</section>
