---
// IMPORTING ATOMS
import Button from "../../atoms/Button.astro"
import H2 from "../../atoms/H2.astro"

// IMPORTING COMPONENTS
import ImageTitleSubTitleButton from "../common/ImageTitleSubTitleButton.astro"
---
<section>
    <H2>Our Work</H2>
    <div class="grid grid-cols-2 gap-6 pt-6">
        <ImageTitleSubTitleButton
            title="Verkkokauppa.com"
            sub_title="How an inspirational online customer experience drives webstore purchases"
            src=""
            alt=""
            button_title="Read more"
            href=""
            button_href=""
        />
        <ImageTitleSubTitleButton
            title="Verkkokauppa.com"
            sub_title="How an inspirational online customer experience drives webstore purchases"
            src=""
            alt=""
            button_title="Read more"
            href=""
            button_href=""
        />
    </div>
    <div class="max-w-3xl mx-auto py-32">
        <h2 class="font-studio_feixen_sans text-body text-[40px] font-bold uppercase leading-none text-center">Our job is to make things simpler. We Plan. We create. We deliver – without the fuss.</h2>
        <div class="pt-10">
            <h2 class="font-studio_feixen_sans text-body text-[40px] font-bold uppercase leading-none text-center">It’s what We Do.</h2>
        </div>
    </div>
    <div class="grid grid-cols-2 gap-x-6 gap-y-12">
        <ImageTitleSubTitleButton
            title="Verkkokauppa.com"
            sub_title="How an inspirational online customer experience drives webstore purchases"
            src=""
            alt=""
            button_title="Read more"
            href=""
            button_href=""
        />
        <ImageTitleSubTitleButton
            title="Verkkokauppa.com"
            sub_title="How an inspirational online customer experience drives webstore purchases"
            src=""
            alt=""
            button_title="Read more"
            href=""
            button_href=""
        />
        <ImageTitleSubTitleButton
            title="Verkkokauppa.com"
            sub_title="How an inspirational online customer experience drives webstore purchases"
            src=""
            alt=""
            button_title="Read more"
            href=""
            button_href=""
        />
        <ImageTitleSubTitleButton
            title="Verkkokauppa.com"
            sub_title="How an inspirational online customer experience drives webstore purchases"
            src=""
            alt=""
            button_title="Read more"
            href=""
            button_href=""
        />
    </div>
    <div class="flex justify-center pt-20 pb-60">
        <Button href="/our-work">See more of our work</Button>
    </div>
</section>
