---
// IMPORTING ATOMS
import H2 from "../../atoms/H2.astro"

// IMPORTING COMPONENTS
import ImageTitleSubTitleButton from "../common/ImageTitleSubTitleButton.astro"
---
<section>
    <H2>Our Work</H2>
    <div class="grid grid-cols-2 gap-6 pt-6">
        <ImageTitleSubTitleButton
            title="Verkkokauppa.com"
            sub_title="How an inspirational online customer experience drives webstore purchases"
            src=""
            alt=""
            button_title="Read more"
            href=""
            button_href=""
        />
        <ImageTitleSubTitleButton
            title="Verkkokauppa.com"
            sub_title="How an inspirational online customer experience drives webstore purchases"
            src=""
            alt=""
            button_title="Read more"
            href=""
            button_href=""
        />
    </div>
</section>
