<section class="flex justify-center py-20">
    <div class="max-w-3xl">
        <p class="text-center font-studio_feixen_sans text-[40px] font-bold uppercase leading-none">Do you want solutions that cut through the hype and focus on results?<br/><br/>WE DO.</p>
    </div>
</section>
