---
// IMPORTING ATOMS
import Button from "../../atoms/Button.astro"

// IMPORTING COMPONENTS
import ImageTitleSubTitleButton from "../common/ImageTitleSubTitleButton.astro"
---
<section>
    <div class="grid grid-cols-2 gap-6">
        <ImageTitleSubTitleButton
            title="Verkkokauppa.com"
            sub_title="How an inspirational online customer experience drives webstore purchases"
            src=""
            alt=""
            button_title="Read more"
            href=""
            button_href=""
        />
        <ImageTitleSubTitleButton
            title="Verkkokauppa.com"
            sub_title="How an inspirational online customer experience drives webstore purchases"
            src=""
            alt=""
            button_title="Read more"
            href=""
            button_href=""
        />
    </div>
    <div class="flex justify-center pt-20">
        <Button>Load more cases</Button>
    </div>
</section>
