<section class="grid grid-cols-2">
    <div></div>
    <div>
        <p class="text-2xl font-studio_feixen_sans">Generative AI, when used in tandem with a doctor's expertise, can lead to improved patient care and medical outcomes. While the final call always rests in the hands of medical professionals, as the technology continues to develop, generative AI will serve as a potent and helpful tool.</p>
    </div>
</section>
