---
// IMPORTING ATOMS
import H3 from "../../atoms/H3.astro"
import Button from "../../atoms/Button.astro"

// IMPORTING CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "../../constants/cdn"

const {

    title,
    sub_title,
    button_title,
    href,
    src,
    alt

} = Astro.props
---
<div>
    <a href={ "/our-work/" + href } class="space-y-4">
        <div class="bg-zinc-200 w-full aspect-[3/2]">
            <img
                src={ CDN_LINK + src + "?quality=" + IMAGE_QUALITY }
                alt={ alt }
                class="w-full h-full"
            />
        </div>
        <p class="text-lg font-studio_feixen_sans">{ title }</p>
        <H3>{ sub_title }</H3>
        <div class="pt-2">
            <Button href={ "/our-work/" + href }>{ button_title }</Button>
        </div>
    </a>
</div>
