---
// IMPORTING ATOMS
import H2 from "../../atoms/H2.astro"

// IMPORTING COMPONENTS
import ImageTitleDescription from "./ImageTitleDescription.astro"
---
<section class="grid grid-cols-3 gap-20">
    <H2>The Vincit way</H2>
    <div class="col-span-2 grid grid-cols-2 gap-20">
        <ImageTitleDescription
            src=""
            alt=""
            title="Talent match"
            description="Great people who understand your business and want to help you succeed"
        />
        <ImageTitleDescription
            src=""
            alt=""
            title="Talent match"
            description="Great people who understand your business and want to help you succeed"
        />
        <ImageTitleDescription
            src=""
            alt=""
            title="Talent match"
            description="Great people who understand your business and want to help you succeed"
        />
        <ImageTitleDescription
            src=""
            alt=""
            title="Talent match"
            description="Great people who understand your business and want to help you succeed"
        />
    </div>
</section>
